<div class="container">
    <div class="row my-5">
        <div class="col-md-6 my-auto">
            <h1 style="font-weight: bold;">Welcome on board with</h1>
            <h2 style="color:deepskyblue">Cionax <span style="color:#FF7200">Tech Solution</span></h2>
            <p style="font-size:16px;">We are the team of talented developers making Websites</p>
            <button class="btn btn-outline-primary">Get Started </button>


        </div>
        <div class="col-md-6">
            <img class="homeImage" style="width: 524px;" src="/assets/images/about.png" alt="img" />
        </div>
    </div>
</div>