<div class="">

    <div class="container-fluid ">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col-md-6 pt-5 pt-lg-0  order-2 order-lg-1 d-flex justify-content-center  flex-column">

                        <h1 style="font-weight: bold;">GROW YOUR BUSINESS WITH</h1>

                        <h2 class="" style="color:deepskyblue">Cionax <span style="color:#FF7200">Tech
                                Solution</span>
                        </h2>
                        <p style="font-size:16px;">We are the team of talented developers making Websites</p>
                        <div class="mt-3">
                            <a routerLink="services" class="btn btn-outline-primary">Get Started </a>
                        </div>


                    </div>

                    <div class="col-lg-6 mt-3 order-1 order-lg-2">
                        <img class="homeImage" src="/assets/images/home.jpg" alt="img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>